{% extends 'main/base.html' %}
{% block content %}
  {% if user.is_authenticated %}
    <a href="{% url 'store:categoryCreate' %}">新增類別</a>
    <a href="{% url 'store:itemCreate' %}">新增商品</a>
  {% endif %}
  <table>
    <tr>
      <th>類別</th>
    </tr>
    {% for category in categorys %}
      <tr>
        <td><a href="{% url 'store:categoryRead' category.id %}">{{ category.name }}</a></td>
        <td><a href="{% url 'store:categoryUpdate' category.id %}">
          <button>修改</button>
        </a></td>
        <td>
          <form method="post" action="{% url 'store:categoryDelete' category.id %}">
            {% csrf_token %}
            <a href="{% url 'store:categoryDelete' category.id %}">
              <input type="submit" value="刪除">
            </a>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>



{#  <div class="pagination">#}
{#    <span class="step-links">#}
{#        {% if categorys.has_previous %}#}
{#          <a href="?page=1">&laquo; first</a>#}
{#          <a href="?page={{ categorys.previous_page_number }}">previous</a>#}
{#        {% endif %}#}
{##}
{#      <span class="current">#}
{#            Page {{ categorys.number }} of {{ categorys.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#      {% if categorys.has_next %}#}
{#        <a href="?page={{ categorys.next_page_number }}">next</a>#}
{#        <a href="?page={{ categorys.paginator.num_pages }}">last &raquo;</a>#}
{#      {% endif %}#}
{#    </span>#}
{#  </div>#}

  <ul class="pagination">
    {% if categorys.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo; first</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ categorys.previous_page_number }}">previous</a>
      </li>
    {% endif %}

    {% for i in categorys.paginator.page_range %}
      <li class="page-item {% if i == categorys.number %} active{% endif %}">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
    {% endfor %}

    {% if categorys.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ categorys.next_page_number }}">next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ categorys.paginator.num_pages }}">last &raquo;</a>
      </li>
    {% endif %}

  </ul>
{% endblock %}